<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAO.Properties.Settings.conection" connectionString="Data Source=ws9.win.arvixe.com;Initial Catalog=tasisteo_db1;User Id=tasisteo_db_user;Password=Claveunica1234;" />
    </connectionStrings>
</configuration>