<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAO.Properties.Settings.conection" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;tasisteo_db1=|DataDirectory|aspnetdb.mdf;User = tasisteo_db_user Password = Claveunica1234 Instance=true" />
    </connectionStrings>
</configuration>